// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple MacBook Air (13-inch, M4, 2025)
 *
 * target-type: J713
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t8132.dtsi"
#include "t8132-jxxx.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "apple,j713", "apple,t8132", "apple,arm-platform";
	model = "Apple MacBook Air (13-inch, M4, 2024)";

	aliases {
		ans = &nvme;
		ans-mbox = &ans_mbox;
		pmu-primary = &pmic1;
		sart-ans = &sart;
		spmi-primary = &nub_spmi;
	};

	chosen {
		linux-enablement-mac,disk-boot;
	};

	led-controller {
		compatible = "pwm-leds";
		led-0 {
			pwms = <&fpwm1 0 40000>;
			label = "kbd_backlight";
			function = LED_FUNCTION_KBD_BACKLIGHT;
			color = <LED_COLOR_ID_WHITE>;
			max-brightness = <255>;
			default-state = "keep";
		};
	};
};

&fpwm1 {
	status = "okay";
};

&smc {
	status = "okay";

	reboot {
		compatible = "apple,t8132-smc-reboot", "apple,smc-reboot";
		nvmem-cells = <&shutdown_flag>, <&boot_stage>,
			<&boot_error_count>, <&panic_count>;
		nvmem-cell-names = "shutdown_flag", "boot_stage",
			"boot_error_count", "panic_count";
	};
};

&smc_mbox {
	status = "okay";
};

&nub_spmi {
	status = "okay";

	pmic1: pmic@0 {
		compatible = "apple,abbey-pmic", "apple,spmi-nvmem";
		reg = <0x0 SPMI_USID>; /* To be filled by loader */

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_stage: boot-stage@f801 {
				reg = <0xf801 0x1>;
			};

			boot_error_count: boot-error-count@f802,0 {
				reg = <0xf802 0x1>;
				bits = <0 4>;
			};

			panic_count: panic-count@f802,4 {
				reg = <0xf802 0x1>;
				bits = <4 4>;
			};

			shutdown_flag: shutdown-flag@f80f,3 {
				reg = <0xf80f 0x1>;
				bits = <3 1>;
			};
		};
	};
};
